<!DOCTYPE html>
<html>
<head>
  <title>Hey, you</title>
</head>
<body>
	<p>Hi, <%= @student[0]['name'] %>! <br>
	You are <%= @student[0]['age'] %> years old. <br>
	You attend DBC at the <%= @student[0]['campus'] %> campus.
	</p>
	<p>Do you want to update your information?</p>

	<form method="POST" action="/update/<%= @student_id %>">
		<button type="submit">Yes</button>
	</form>
	<form method="GET" action="/">
		<button type="submit">No</button>
	</form>
</body>
</html>